<section id="about-me">
  <div class="content">
    <!--IMG DIV -->
    <div>
      <img class="owner-hover-image" src="owner_pic.png" alt="its me :)">
    </div>


    <!--ABME CARD DIV-->
    <div class="card-div">
      <span class="WIA">{{'WhoIAm' | translate}}</span>
      <div class="card">
        <h2>{{'headerAboutMe' | translate}}</h2>
        <span>
          {{'aboutMeText' | translate}}
        </span>
        <div class="ico-text">
          <img class="ico-img" src="icons/About_me_pin.svg" alt="location">
          <span> {{'aboutMeLocation' | translate }} </span>
        </div>
        <div class="ico-text">
          <img class="ico-img" src="icons/about_me_mind.svg" alt="mind">
          <span>{{'aboutMeMind' | translate }}</span>
        </div>
        <div class="ico-text">
          <img class="ico-img" src="icons/about_me_ver.svg" alt="OK">
          <span>{{'aboutMeCheck' | translate }}</span>
        </div>
      </div>
    </div>

    <!--END!!!!-->
  </div>

  <!-- Glow Cursor -->
  <div
    class="mouse-glow"
    [ngStyle]="{
    'left.px': mouseX,
    'top.px': mouseY,
    'opacity': isMouseInWindow ? 1 : 0
  }"
  ></div>
</section>
