<section>
  <div class="content">
    <!--IMG DIV -->
    <div>
      <img class="owner-hover-image" src="owner_pic.png" alt="its me :)">
    </div>


    <!--ABME CARD DIV-->
    <div class="card-div">
      <span class="WIA">Who I Am</span>
      <div class="card">
        <h2>About me</h2>
        <span>
          Hi, I’m a german speaking Frontend Developer based in Munich.
          Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating
          and intuitive websites and applications.
        </span>
        <div class="ico-text">
          <img class="ico-img" src="icons/About_me_pin.svg" alt="location">
          <span>Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</span>
        </div>
        <div class="ico-text">
          <img class="ico-img" src="icons/about_me_mind.svg" alt="mind">
          <span>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</span>
        </div>
        <div class="ico-text">
          <img class="ico-img" src="icons/about_me_ver.svg" alt="OK">
          <span>In my profession, programming isn't just about writing code;
            it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions.
            This way, I help you achieve your goals and bring your visions to life.</span>
        </div>
      </div>
    </div>

    <!--END!!!!-->
  </div>

  <!--glow cursor-->
  <div
    class="mouse-glow"
    [ngStyle]="{
    'left.px': mouseX,
    'top.px': mouseY,
    'opacity': isMouseInWindow ? 1 : 0
  }"
  ></div>
</section>
