<!--ROT-->
<section id="contact-me">
  <!--blau-->
  <div class="box-contact-contact-me-text">
    <div class="left-contact-me-text">
      <span>{{'heroContactMe' | translate}}</span>
      <h1 [innerHTML]="'contactLetsWorkTogether' | translate"></h1>
      <div>
        <span style="font-family: 'Fira Code', sans-serif">{{'contactGotAProblem' | translate}}</span>
        <p [innerHTML]="'contactGotAProblemText' | translate">

        </p>
        <div class="d-flex">
          <p>{{'contactText1' | translate}}</p><p class="blue-letstalk">{{'contactText2' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="div-styling-contact-app">
      <!--contact form-->
      <app-contact></app-contact>
    </div>
  </div>
</section>
