section {
  height: 100vh;
  font-family: Karla, sans-serif;
  color: #3dcfb6;
  background-image: url("../../../public/SkillBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-div {
  padding: 64px;
}

span {
  color: white;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 40px;
}

.content {
  margin: 64px;
  height: 50vh;
  display: flex;

  /*  justify-content: space-around;*/
}

.d-non {
  display: none;
}

.card-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card {
  border: 1px solid #3dcfb6;
  background-color: rgba(61, 207, 182, 0.1);
  border-radius: 25px;
  padding: 20px;
}

.WIA {
  color: #3dcfb6;
  margin-bottom: 10px;
}

.another-skills {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-right: 5px;
}

.d-flex {
  display: flex;
}


.skill-icons {
  margin: 64px;
  display: grid;
  grid-template-columns: 64px 64px 64px 64px;
  gap: 20px;
  width: 50%;
  justify-content: space-between;
}

.image-text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.image-text-container{
  img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
}

.image-text-container img:not(.showBubble):not(.showBubble.active) {
  &:hover {
    animation: bounce 0.5s;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.image-text-container span {
  margin-top: 10px;
  font-size: 1rem;
}

.showBubble {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.image-wrapper:hover .showBubble {
  display: block;
}

.showBubble.active {
  display: block;
  position: absolute;
  opacity: 1;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.a-link-button {
  width: 80px;
  text-align: center;
  margin-top: 30px;
}

@-webkit-keyframes showBubble {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


/*Tooltip*/

.tooltip {
  position: absolute;
  top: calc(2 * var(--margin));
  left: 100%;
  transform: translateX(-50%) translateY(0%) scale(0);
  padding: 1em 1.5em;  // Erhöht die Polsterung für einen größeren Tooltip
  font-size: 1.2rem;   // Vergrößert die Schriftgröße im Tooltip
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  background: var(--tooltip-bg);
  color: var(--tooltip-color);
  border-radius: 0.75rem;  // Optional: Ecken etwas abgerundet
  max-width: 250px !important;  // Setzt eine maximale Breite für den Tooltip
  z-index: 99999;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: var(--tooltip-bg);
  border-bottom-right-radius: 0.175rem;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-100%) scale(1);
}


.tooltip-container {
  position: relative;
  transition: all 0.2s;
  font-size: 17px;
  width: fit-content;
  box-sizing: border-box;
  --margin: 0.5em;
}

.text {
  z-index: 9;
  background: var(--bg);
  color: var(--color);
  height: fit-content;
}
