<section>
  <div class="d-flex">
    <div class="card-div">
      <span class="WIA">Technologies</span>
      <div class="card">
        <h2>Skill Set</h2>
        <span>
          My journey has involved working on diverse projects,
          employing a range of frontend technologies and concepts.
          I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead in the ever-evolving landscape of web development.
        </span>
        <div class="another-skills">
          <div class="d-flex">
            <h3 style="color: white">You need</h3><h3>another skill?</h3>
          </div>
          <span>
            Feel free to contact me.
            I look forward to expanding on my previous knowledge.
          </span>
        </div>
      </div>
    </div>

    <!--ICONS TXT EINBAUEN-->
    <div class="skill-icons">
      <div>
        <img src="icons/HTML.svg" alt="HTML5">
        <span>HTML5</span>
      </div>

    </div>
  </div>
</section>
