section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Fira Code", sans-serif;
  color: rgba(61, 207, 182, 1);
}


app-slider-card {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
