section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Fira Code", sans-serif;
  color: rgba(61, 207, 182, 1);
}


app-slider-card {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 900px) {
  .review_slider {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
  }
}

@media (max-width: 320px) {
  .review_slider {
    width: 300px;
  }
}
