<footer>
  <div class="logo-title-city">
    <img src="LB_letters_new.svg" alt="logo">
    <span>Lyonel<br>Berzen</span>
  </div>

  <div class="copyright">
    <p>&copy; Lyonel Berzen 2024 </p>
  </div>

  <div class="footer-links">
    <a href="https://github.com/Mori-Takahashi" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/lyonelberzen-dev/" target="_blank">Linkedin</a>
    <a href="mailto:info@lyonelberzen.dev">E-mail</a>
    <a href="#">Legal Notice</a>
  </div>
</footer>
