<section>
  <div class="content">
    <h3>Portfolio</h3>
    <div>
      <h2>Featured Projects</h2>
      <span class="explore-more-text">
        Explore a selection of my work here - Interact with
        projects to see my skills in action.
      </span>
    </div>
    <!--for hier einbauen-->
    @for (item of procjects; track $index) {
      <div class="content-click">
        <div (click)="openProject($index)" class="project-list">
          <div class="project-border">
            <h3>{{item.name}}</h3>
            <div class="tec-used">
              <span>{{item.tecUsed}}</span>
              <div class="arrow-right" style="color: white">&#8599;</div>
            </div>
          </div>
        </div>
        <img class="miniProjectCard" [src]="item.miniImg">
      </div>
    }
    <!--for ende-->
  </div>

  <!--project Card-->
  <div id="animation" class="d-non" *ngIf="selectedProject">
    <div id="card" class="card">
      <button (click)="closeProject()" class="close-button">&#10006;</button>
      <div class="d-flex c-space-between-width-100">
        <div class="img-title">
          <div id="titleNum" class="title-number">
            <h1>{{selectedProjectIndex + 1 | number:'2.0'}}</h1>
            <h2>{{selectedProject.name}}</h2>
          </div>
          <div>
            <h3>What is this project about</h3>
            <span>{{selectedProject.description}}</span>
          </div>
          <div class="d-flex">
            <div *ngFor="let tech of selectedProject.tecUsed" class="tec-used-card">
              <img [src]="getTechIcon(tech)" alt="{{tech}}">
              <span>{{tech}}</span>
            </div>
          </div>
        </div>
        <div class="img-close">
          <img [src]="selectedProject.imageUrl" alt="{{selectedProject.name}}">
        </div>
      </div>
      <div class="d-flex c-space-between-width-100">
        <div>
          <a class="a-link-button" href="{{selectedProject.liveTest}}" target="_blank">Live Test &#8599;</a>
          <a class="a-link-button" href="{{selectedProject.github}}" target="_blank">Github &#8599;</a>
        </div>
        <button (click)="nextProject()" class="next-project">Next projects &#10230;</button>
      </div>
    </div>
    <!---->
  </div>
  <!--project Card-->
</section>


<!--
<div class="img-close">
          <img [src]="selectedProject.imageUrl" alt="{{selectedProject.name}}">
        </div>

-->
