<section>
  <div class="content">
    <h3>Portfolio</h3>
    <div>
      <h2>Featured Projects</h2>
      <span>
        Explore a selection of my work here - Interact with
        projects to see my skills in action.
      </span>
    </div>
    <!--for hier einbauen-->
    @for (item of procjects; track $index) {
      <div (click)="openProject($index)" class="project-list">
        <div class="project-border">
          <h3>{{item.name}}</h3>
          <div class="tec-used">
            <span>{{item.tecUsed}}</span>
            <div class="arrow-right" style="color: white">&#8599;</div>
          </div>
        </div>
      </div>
    }
    <!--for ende-->
  </div>

  <!--project Card-->
  <div class="project-card">
    <div class="card">

    </div>
  </div>
</section>

