/* You can add global styles to this file, and also import other style files */

/*COLORS*/
$color-primary_hover: rgba(61, 207, 182, 1);
$color-primary: white;
$font-primary: Karla, sans-serif;
$font-secondary: "Fira Code", sans-serif;


/* FONTS */
@font-face {
  font-family: 'Karla';
  src: url('../public/fonts/Karla/static/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../public/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url('../public/fonts/Fira_Code/static/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url('../public/fonts/Fira_Code/static/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* FONTS END */

body {
  margin: 0 auto;
  cursor: url('../public/arrow_selector_tool.png'), auto;
  max-width: 1920px;
  background-color: rgb(28, 28, 28);
}

button {
  border-radius: 16px;
  padding: 8px 16px;
  border: white 2px solid;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-family: Karla, sans-serif;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  &:hover {
    border: rgba(61, 207, 182, 1) 2px solid;
    box-shadow: 0 0 10px rgba(61, 207, 182, 0.5);
  }
}

h3 {
  color: $color-primary_hover;
}


a {
  text-decoration: none;
  color: white;
  font-family: Karla, sans-serif;

  &:hover {
    color: rgba(61, 207, 182, 1);
  }
}


body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #3dcfb6;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 9px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 9px;
  border: 3px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
    var(--sb-track-color);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.a-link-button {
  text-align: center;
    border-radius: 16px;
    padding: 8px 16px;
    border: white 2px solid;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-family: Karla, sans-serif;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    &:hover {
      border: rgba(61, 207, 182, 1) 2px solid;
      box-shadow: 0 0 10px rgba(61, 207, 182, 0.5);
    }
}




