/* You can add global styles to this file, and also import other style files */

/*COLORS*/
$color-primary_hover: rgba(61, 207, 182, 1);
$color-primary: white;
$font-primary: Karla, sans-serif;
$font-secondary: "Fira Code", sans-serif;


/* FONTS */
@font-face {
  font-family: 'Karla';
  src: url('../public/fonts/Karla/static/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../public/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url('../public/fonts/Fira_Code/static/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url('../public/fonts/Fira_Code/static/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* FONTS END */

body {
  margin: 0;
  cursor: url('../public/arrow_selector_tool.png'), auto;
}

button {
  border-radius: 16px;
  padding: 8px 16px;
  border: white 2px solid;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  color: white;
  font-family: Karla, sans-serif;
  &:hover {
    border: rgba(61, 207, 182, 1) 2px solid;
  }
}




a {
  text-decoration: none;
  color: white;
  font-family: Karla, sans-serif;

  &:hover {
    color: rgba(61, 207, 182, 1);
  }
}


body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #3dcfb6;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 9px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 9px;
  border: 3px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
    var(--sb-track-color);
  }
}



/*Alternativen*/

/*button*/
/*button {
  --color: #ffffff;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

button::before, button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

button::before {
  top: -1em;
  left: -1em;
}

button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

button:hover::before, button:hover::after {
  height: 410px;
  width: 410px;
}

button:hover {
  color: rgb(10, 25, 30);
}

button:active {
  filter: brightness(.8);
}*/
