<section>
  <div class="card-slider-styling">
    <div class="card">
      <div class="text"> <!--reviews[rightCard]?.text-->
        {{reviews[rightCard].text}}
      </div>
      <div class="aut-line">
        <img src="{{reviews[rightCard].authorImg}}" alt="{{reviews[rightCard].author}}">
        <div></div>
        <span>{{reviews[rightCard].author}}</span>
      </div>
    </div>

    <div class="card">
      <div class="text">
        {{reviews[currentIndex].text}}
      </div>
      <div class="aut-line">
        <img src="{{reviews[currentIndex].authorImg}}" alt="{{reviews[currentIndex].author}}">
        <div></div>
        <span>{{reviews[currentIndex].author}}</span>
      </div>
    </div>

    <div class="card">
      <div class="text">
        {{reviews[leftCard].text}}
      </div>
      <div class="aut-line">
        <img src="{{reviews[leftCard].authorImg}}" alt="{{reviews[leftCard].author}}">
        <div></div>
        <span>{{reviews[leftCard].author}}</span>
      </div>
    </div>
  </div>
<!---->
  <div class="margin-top-10">
    <button (click)="nextReview()">&larr;</button>

    @for (dot of reviewService.reviews; track $index){
      @if (currentIndex === $index) {
        <div class="dot-active"></div>
      } @else {
        <div class="dot"></div>
      }
    }

    <button (click)="prevReview()">&#8594;</button>
  </div>
</section>
